## Módulo Dal - "data access layer"

In [1]:
import sqlite3 as sql

In [25]:
#função para criar o banco de dados

conn = sql.connect("Agenda.db")
conn.cursor()

conn.execute("""
    CREATE TABLE Contatos(
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    prenome VARCHAR(50) NOT NULL,
    nomeMeio VARCHAR(350) NOT NULL,
    sobrenome VARCHAR(350) NOT NULL,
    codArea VARCHAR(2) NOT NULL,
    celular VARCHAR(9) NOT NULL,
    fixo VARCHAR(8),
    estado VARCHAR(2) NOT NULL,
    municipio VARCHAR(30) NOT NULL,
    bairro VARCHAR(30) NOT NULL,
    tipoLogradouro VARCHAR(10) NOT NULL,
    nomeLogradouro VARCHAR(150) NOT NULL,
    numero INTEGER,
    complemento VARCHAR(100)
    );"""
)
conn.close()

OperationalError: table Contatos already exists

In [34]:
conn.cursor()
conn.execute("""INSERT INTO Contatos(id, prenome, nomeMeio, sobrenome, codArea, celular, fixo, estado, municipio, bairro, tipoLogradouro, nomeLogradouro, numero, complemento)
VALUES(1, "João", "da Silva", "Fontenele", "51", "996999999","" , "RS", "Porto Alegre", "Medianeira", "Rua", "Alguma", 258, "")""")

In [36]:
def inserir (registro: list) -> sql.Cursor:
    conn = sql.connect("Agenda.db")
    conn.cursor()
    conn.execute("""
    INSERT INTO Contatos values registro;""")